
@{
    ViewData["Title"] = "InsertarPaciente";
}

<h1>Paciente ingresado correctamente</h1>

<a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="Formulario">Ingresar otro paciente</a>